<h1>Movies!</h1>
<p>The first movie is: <%= @movie_first_title %></p>
<p>It has <%= @movie_first_votes_count %> votes!</p>

<p>My favorite movie is: <%= @my_favorite.title %></p>
<p>It was released in <%= @my_favorite_year %><p>
